    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>Over Vör</h2>
              <br/>
                <p>Vör is verdieping bij het nieuws op maat. Onze app voor je tv biedt relevante fragmenten van verschillende programma's aan als aanvulling op het nieuws. 
                  
                  Het systeem achter de app analyseert de beelden en bepaalt zo de onderwerpen van de nieuwsuitzending. Vind je het onderwerp interessant en wil je meer weten? Dan kan je met een simpele druk op de knop van je afstandsbediening verdieping vinden. Op deze manier geeft de app suggesties voor relevante fragmenten die steeds beter zullen passen bij jouw voorkeur.</p>
                <br/>
              </div>
        </div>
    </section>
